                    .bghalf {
                        background-image: url("../img/Rectangle1.png");
                        height: 100vh;
                        background-size: cover;
                        background-origin: center;
                    }
                    
                    .textsect {
                        padding: 50px;
                    }
                    
                    .COMING_SOON {
                        font-size: 36px;
                        font-family: "Lato";
                        color: rgb(47, 47, 47);
                        font-weight: bold;
                        margin-top: 30%;
                    }
                    
                    .paragraph1 {
                        font-size: 18px;
                        font-family: "Lato";
                        color: rgb(47, 47, 47);
                        font-weight: lighter;
                        line-height: 1.2;
                        margin-top: 10%;
                    }
                    
                    .h6text {
                        font-size: 18px;
                        font-family: "Lato";
                        color: rgb(47, 47, 47);
                        font-weight: bold;
                        line-height: 1.2;
                        margin-top: 10%;
                    }
                    
                    .footernav {
                        margin-top: 25%;
                        padding-left: 0%;
                        font-size: 18px;
                        font-family: "Lato";
                        color: rgba(47, 47, 47, 0.502);
                        font-weight: bold;
                    }
                    
                    .footernav a {
                        color: rgba(47, 47, 47, 0.502);
                    }
                    
                    .Rectangle_2 {
                        background-color: rgb(255, 255, 255);
                        width: 100%;
                        height: 2px;
                        margin-top: 60%;
                    }